.user-status.online {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #7fcd00;
    display: inline-block;
}

.user-status.offline {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ff6600;
    display: inline-block;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
}

.user-row {
    height: 55px;
}

#user-container {
    list-style: none outside none;
}