.user-status.online {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #7fcd00;
    display: inline-block;
}

.user-status.offline {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ff6600;
    display: inline-block;
}

.income-message {
    display: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #4682B4;
}

.user-row {
    cursor: pointer;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
}

.user-row {
    height: 55px;
}

#user-container {
    list-style: none outside none;
}

.direct-chat-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.direct-chat-msg {
    margin-bottom: 10px;
    display: block;
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
}

.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}

.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}

.direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.direct-chat-msg:before, .direct-chat-msg:after {
    content: " ";
    display: table;
}

.right .direct-chat-img {
    float: right;
}

.direct-chat-primary .right>.direct-chat-text {
    background: #3c8dbc;
    border-color: #3c8dbc;
    color: #fff;
}
.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}

.direct-chat-primary .right>.direct-chat-text:after, .direct-chat-primary .right>.direct-chat-text:before {
    border-left-color: #3c8dbc;
}
.right .direct-chat-text:after, .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
}